---
layout: default
---

{% include heading.html text="Currently Plotting & Scheming" %}

{% include button.html
  text="Pushing Content on Dotfiles Insider"
  emoji="1F310"
  url="https://www.daytona.io/dotfiles" %}

{% include button.html
  text="Crafting Daytona's Social Media Story"
  emoji="1F4DD"
  url="https://x.com/daytonaio" %}

{% include button.html
  text="Mapping the Future of AI Dev Tools"
  emoji="1F916"
  url="https://github.com/daytonaio/ai-enablement-stack" %}

{% include heading.html text="Where is Niko?" %}

{% include button.html
  text="Leading Growth at Daytona"
  emoji="1F680"
  url="https://www.daytona.io" %}

{% include button.html
  text="Owner of Disequi LLC"
  emoji="1F4BB"
  url="https://disequi.com" %}

{% include button.html
  text="Lecturing Complex Networks at University of Split"
  emoji="1F393"
  url="https://www.pmfst.unist.hr/obavijest-o-nastupnom-predavanju-nikola-balic/" %}

{% include heading.html text="Other Funzzies" %}

{% include button.html
  text="Kind of a Blog"
  emoji="1F4DD"
  url="https://pulent.com/" %}

{% include button.html
  text="AI Letters to My Sons"
  emoji="1F4C3"
  url="https://www.pulent.com/letters/" %}