---
layout: default
---

{% include heading.html text="Featured Links" %}

{% include button.html text="I am the Weaver of the Dotfiles Insider" image="/images/Website.png" url="https://www.daytona.io/dotfiles" %}
{% include button.html text="Expertly Curating Codeanywhere's Newsletter" image="/images/Mail.png" url="https://blog.codeanywhere.com/resubscribe/" %}

{% include heading.html text="Where is Niko?" %}

{% include button.html text="Leading Growth at Daytona" image="/images/3D.png" url="https://www.daytona.io" %}
{% include button.html text="What am I Doing Now?" image="/images/Clock.png" url="https://www.pulent.com/now/" %}

{% include heading.html text="Other Funzzies" %}

{% include button.html text="Personal Blog" image="/images/Pen.png" url="https://pulent.com/" %}
{% include button.html text="Personal Newsletter" image="/images/Mail.png" url="https://tinyletter.com/pulent/" %}
{% include button.html text="Letters to My Sons" image="/images/Pencil.png" url="https://www.pulent.com/letters/" %}