<footer>
  <small>
    Crafted with
    <img src="https://cdn.jsdelivr.net/npm/@svgmoji/noto@0.2.0/svg/1F412.svg"
         width="20"
         height="20"
         alt="monkey"
         class="footer-emoji">
    <img src="https://cdn.jsdelivr.net/npm/@svgmoji/noto@0.2.0/svg/1F412.svg"
         width="20"
         height="20"
         alt="monkey"
         class="footer-emoji">
    <img src="https://cdn.jsdelivr.net/npm/@svgmoji/noto@0.2.0/svg/1F412.svg"
         width="20"
         height="20"
         alt="monkey"
         class="footer-emoji">.
  </small>
</footer>