<!-- Nav -->
	<nav id="nav">
		<ul>
			{% assign current = page.url | downcase | split: '/' %}
			<li {% if current[1] == 'index.html' %}class='current'{% endif %}><a href="{{ site.baseurl }}/index.html">Naslovna</a></li>
			<li {% if current[1] == 'blog' %}class='current'{% endif %}><a href="{{ site.baseurl }}/blog">Zašto?</a></li>
			<li {% if current[1] == 'kako' %}class='current'{% endif %}><a href="{{ site.baseurl }}/kako">Kako?</a></li>
			<li {% if current[1] == 'tko' %}class='current'{% endif %}><a href="{{ site.baseurl }}/tko">Tko?</a></li>
		</ul>
	</nav>