---
title: Zašto?
layout: main
---

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<section>
				<div class="10u -1u">
					<header class="major">
						<h2>Zašto inovirati?</h2>
						<span class="byline">Kako se inspirirati, ostvariti vaše ciljeve ili pronaći novi put.</span>
					</header>
					<ul class="style">
						{% for post in paginator.posts %}
						<li>
							<a href="{{ site.baseurl }}{{ post.url }}"><h2>{{ post.title }}</h2></a>
							<a href="{{ site.baseurl }}{{ post.url }}"><img src="{{ site.baseurl }}/assets/{{ post.featured }}" alt="" class="narrower"></a>
							{{ post.excerpt }}
						</li>
						{% endfor %}
					</ul>
					<!-- Pagination links -->
					<div style="text-align: center;">
					<div class="pagination">
					  {% if paginator.previous_page %}
					    <a href="{{ paginator.previous_page_path }}" class="previous">❮</a>
					  {% else %}
					    <span class="previous">❮</span>
					  {% endif %}
					  <span class="page_number">Stranica: {{ paginator.page }} od {{ paginator.total_pages }}</span>
					  {% if paginator.next_page %}
					    <a href="{{ paginator.next_page_path }}" class="next">❯</a>
					  {% else %}
					    <span class="next">❯</span>
					  {% endif %}
					</div>
					</div>
				</div>
			</section>
		</div>
	</div>