<!DOCTYPE HTML>
<!--
	Horizons by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
	Moded by nb@innovantage.eu
-->
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		{% feed_meta %}
		<!--[if lte IE 8]><script src="{{ site.baseurl }}/assets/css/ie/html5shiv.js"></script><![endif]-->
		<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/skel-layers.min.js"></script>
		<script src="{{ site.baseurl }}/assets/js/init.js"></script>
		<script src="https://linked.chat/web/8gron3" async></script>
		<noscript>
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/skel.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
			<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/font-awesome.min.css">
			<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
			<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
			<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
		</noscript>
		<!--[if lte IE 8]><link rel="stylesheet" href="{{ site.baseurl }}/assets/css/ie/v8.css" /><![endif]-->
	</head>
	<body>
	<!-- Google Tag Manager -->
	<noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-M4WQP8"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-M4WQP8');</script>
	<!-- End Google Tag Manager -->
	{{ content }}
		<!-- Footer -->
			<div id="footer">
				<div class="container">

					<!-- Lists -->
						<div class="row">
							<div class="12u">
								<section>
									<header class="major">
										<h2>Želim znati više</h2>
										<span class="byline">Imati pristup informacijama u pravom trenutku je ključno, budite na vrijeme informirani.</span>
										<a name="zelimvise" id="zelimvise"></a>
									</header>
									<form action="https://tinyletter.com/innovantage" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/innovantage', 'popupwindow', 'scrollbars=yes');return true">
										<input type="text" name="email" placeholder="upiši svoj email" id="tlemail" />
										<input type="hidden" value="1" name="embed"/>
										<div><input type="submit" value="Pošalji" id="newsletter"/></div>
									</form>
								</section>
								<nav class="cover-navigation navigation--social">
								    <ul class="navigation">
								  
								    {% if site.author.twitter_username %}
								      <!-- Twitter -->
								      <li class="navigation__item">
									<a href="http://twitter.com/{{ site.author.twitter_username }}" title="@{{ site.author.twitter_username }} on Twitter" target="_blank">
									  <i class="fa fa-twitter fa-2x" aria-hidden="true"></i>
									  <span class="label">Twitter</span>
									</a>
								      </li>
								    {% endif %}

								    {% if site.author.facebook_username %}
								      <!-- Facebook -->
								      <li class="navigation__item">
									<a href="http://fb.me/{{ site.author.facebook_username }}" title="{{ site.author.facebook_username }} on Facebook" target="_blank">
									  <i class="fa fa-facebook fa-2x" aria-hidden="true"></i>
									  <span class="label">Facebook</span>
									</a>
								      </li>
								    {% endif %}

								    {% if site.author.linkedin_username %}
								      <!-- LinkedIn -->
								      <li class="navigation__item">
									<a href="https://www.linkedin.com/in/{{ site.author.linkedin_username }}" title="{{ site.author.linkedin_username }} on LinkedIn" target="_blank" id="linkedin">
									  <i class="fa fa-linkedin fa-2x" aria-hidden="true"></i>
									  <span class="label">LinkedIn</span>
									</a>
								      </li>
								    {% endif %}

								    {% if site.author.email %}
								      <!-- Email -->
								      <li class="navigation__item">
									<a href="mailto:{{ site.author.email }}" title="Email {{ site.author.email }}" target="_blank">
									  <i class="fa fa-envelope-o fa-2x" aria-hidden="true"></i>
									  <span class="label">Email</span>
									</a>
								      </li>
								    {% endif %}

								    <!-- RSS -->
								    <li class="navigation__item">
								      <a href="{{ "feed.xml" | prepend: site.baseurl }}" title="Subscribe" target="_blank">
									<i class="fa fa-rss fa-2x" aria-hidden="true"></i>
									<span class="label">RSS</span>
								      </a>
								    </li>
								  
								    </ul>
								  </nav>
							</div>
							
						</div>

					<!-- Copyright -->
						<div class="copyright">
							Copyright: 2016 &copy; <a href="contact.html">Nikola Balić</a> &mdash; Design: <a href="http://templated.co">Templated</a> &mdash; Images: <a href="http://unsplash.com">Unsplash</a> (<a href="http://unsplash.com/cc0">CC0</a>)
							&mdash; Jekyll Template: <a href="http://cloudcannon.com">Cloud Cannon</a>
						</div>

				</div>
			</div>

	</body>
</html>