---
layout: main
---

<!-- Main -->
	<div id="main" class="wrapper style1">
		<div class="container">
			<section>
				<header class="major">
					<h2>{{ page.title }}</h2>
				</header>
				<div class="image fit"><img src="{{ site.baseurl }}/assets/{{ page.featured }}" alt="" class="post"></div>
				{{ page.content }}
				<span>{{ page.date | date_to_string }}</span>
			</section>
			<br />
			<div
				  class="fb-like"
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div>
		</div>
	</div>
